
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center; 
    gap: 20px; 
    background-color: #f9f9f9; 
  }
  p{
    padding-top: 30px;
  }
  
  section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 10px
  }
  
  
  #green {
    background-color: #ccffcc;
    order: 3; 
  }
  #yellow {
    background-color: #ffffcc;
    order: 1;
    border: none;
  }
  #red {
    background-color: #ffcccc;
    order: 2;
    text-align: left;
  }
  #orange {
    background-color: #ffe5cc;
    order: 4;
    padding-right: 300px;
  }
  #blue {
    background-color: #cce5ff;
    order: 5;
    margin-right: 0px;
  }
  
  
  section > p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px; 
    text-transform: uppercase;
  }
  
 
  ul {
    list-style: none; 
    padding: 0;
    margin: 0 auto; 
    display: block; 
    text-align: center;
}

li {
    background-color: white;
    width: 40px; 
    height: 45px;
    margin: 13px auto; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

  