.Main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(15, 66, 67);
    height: 548px;
    text-align: center; 
}
p{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
}
h3 {
    line-height: 1.2;
    margin:0;
    font-size: 22px;
    color: white;
    font-family: Arial, sans-serif;
    padding: 30px;
}

h2 {
    margin: 0;
    font-size: 39px;
    color: white;
    font-family: Arial, sans-serif;
    padding: 30px;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
        
}

.column {
    margin: 10px;          
    flex: 1;  
}
img{
    margin-bottom: -25px;
}
.type{
    margin-top: -50px;
}
.desc{
    margin-top: -20px;
}